<?xml version="1.0"?>
<!--
  properties.xacro - RobuROC Robot Properties
  
  This file contains all dimensional properties and position parameters
  for the RobuROC robot. It is included by all other xacro files that
  need access to robot dimensions.
  
  Contents:
    - Chassis dimensions (box_x, box_y, box_z, etc.)
    - Wheel dimensions and positions
    - Camera mounting positions
    - Lidar mounting position
    - STL scale factor
    
  Include hierarchy: This is the first file included by roburoc.urdf.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ######################################### -->
    <!--                Chassis                    -->
    <!-- ######################################### -->
    <xacro:property name="box_y" value="0.54" />
    <xacro:property name="box_x" value="0.925" />
    <xacro:property name="box_z" value="0.304" />
    <xacro:property name="box_m" value="100" />
    <xacro:property name="box_off_z" value="0.484" />
    <xacro:property name="chassis_vis_origin" value="0 0 ${box_off_z}" />
    <xacro:property name="chassis_col_origin" value="0.0 0 ${box_off_z-box_z/2}" />

    <!-- ######################################### -->
    <!--                Wheels                     -->
    <!-- ######################################### -->
    <xacro:property name="cyl_l" value="0.1" />
    <xacro:property name="cyl_r" value="0.28" />
    <xacro:property name="cyl_m" value="10" />
    <xacro:property name="cyl_off_x" value="0.3068" />
    <xacro:property name="cyl_off_y" value="0.3425" />
    <xacro:property name="cyl_off_z" value="${box_off_z-0.204}" />
    <xacro:property name="rot_90" value="${pi/2}" />
    <xacro:property name="max_vel" value="2" />
    <xacro:property name="wheel_1_origin" value="${cyl_off_x} ${cyl_off_y} ${cyl_off_z}" />
    <xacro:property name="wheel_2_origin" value="${cyl_off_x} ${-cyl_off_y} ${cyl_off_z}" />
    <xacro:property name="wheel_3_origin" value="${-cyl_off_x} ${-cyl_off_y} ${cyl_off_z}" />
    <xacro:property name="wheel_4_origin" value="${-cyl_off_x} ${cyl_off_y} ${cyl_off_z}" />

    <!-- ######################################### -->
    <!--                    STL                    -->
    <!-- ######################################### -->
    <xacro:property name="scale_factor" value="0.001" />
    <xacro:property name="scale" value="${scale_factor} ${scale_factor} ${scale_factor}" />

    <!-- ######################################### -->
    <!--                    Camera                 -->
    <!-- ######################################### -->
    <xacro:property name="camera_off_x" value="0.6" />
    <xacro:property name="camera_off_z" value="0.55" />
    <xacro:property name="camera_rot" value="16" />
    <xacro:property name="camera_1_origin" value="${camera_off_x} 0 ${camera_off_z}" />
    <xacro:property name="camera_2_origin" value="${-camera_off_x} 0 ${camera_off_z}" />
    <xacro:property name="camera_1_rotation" value="0 ${(camera_rot)*pi/180} 0" />
    <xacro:property name="camera_2_rotation" value="0 ${(camera_rot-2)*pi/180} ${pi}" />

    <!-- ######################################### -->
    <!--                    Lidar                  -->
    <!-- ######################################### -->
    <xacro:property name="lidar_off_x" value="-0.12" />
    <xacro:property name="lidar_off_z" value="${box_off_z+0.155}" />
    <xacro:property name="lidar_origin" value="${lidar_off_x} 0 ${lidar_off_z}" />

</robot>
